@import 'resets', 'fonts';


$DarkBlue: hsl(209, 23%, 22%); // (Dark Mode Elements)
$VeryDarkBlue: hsl(207, 26%, 17%); //(Dark Mode Background)
$VeryDarkBlueLM: hsl(200, 15%, 8%); //(Light Mode Text)
$DarkGray: hsl(0, 0%, 52%); //(Light Mode Input)
$VeryLightGray: hsl(0, 0%, 98%); //(Light Mode Background)
$White: hsl(0, 0%, 100%); //(Dark Mode Text & Light Mode Elements)

@mixin font($family, $size, $color) {
  font-family: $family;
  font-size: $size;
  color: $color;
}

body {
  font-family: 'NunitoSans-M';
}

.bar {
  position: fixed;
  height: 70px;
  width: 100%;
  padding: 0 5%;
  background-color: $White;
  box-shadow: 0px 3px 5px rgb(233, 232, 232);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $VeryDarkBlueLM;
  z-index: 2;

  a {
    text-decoration: none;

    h2 {
      font-family: 'NunitoSans-B';
      color: $VeryDarkBlueLM;
    }
  }

  .colormode {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    @include font('NunitoSans-M', 16px, $VeryDarkBlueLM);
    cursor: pointer;
    overflow: hidden;

    .effect {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: -100%;
      transition: .4s ease;
      background-color: $DarkGray;
      border-radius: 0 10px 10px 0;
    }


    &:hover {
      .effect {
        left: 0;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      margin: 2px 8px 0 0;
      z-index: 2;
    }

    p {
      z-index: 2;
    }
  }
}

.content {
  width: 100%;
  padding: 0 5%;
  padding-bottom: 30px;
  margin: 0 auto;
  padding-top: 120px;
  background-color: $VeryLightGray;
  color: $VeryDarkBlueLM;
  min-height: 100vh;

  .content_inputs {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    input {
      width: 300px;
      height: 50px;
      border-radius: 5px;
      background-color: $White;
      padding-left: 50px;
      transition: .2s ease;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.05);
      outline: none;
      position: relative;
      z-index: 1;
      color: $VeryDarkBlueLM;
    }

    input:focus {
      width: 500px;
    }

    svg {
      position: absolute;
      fill: $DarkGray;
      left: 20px;
      top: 17px;
      z-index: 2;
    }

    .letter_search {
      position: absolute;
      left: 50%;
      transform: translate(-50%);

      span {
        padding-right: 5px;
        cursor: pointer;
        color: $VeryDarkBlueLM;

        &:hover {
          color: $DarkGray;
        }
      }
    }

    .dropdown {
      position: relative;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $White;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        padding: 22px;
        cursor: pointer;
        transition: .2s ease;
        box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.05);
        @include font('NunitoSans-M', 14px, $VeryDarkBlueLM);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        svg {
          position: unset;
          fill: $VeryDarkBlueLM;
        }
      }

      .drop_menu {
        position: absolute;
        background-color: $White;
        width: 200px;
        height: fit-content;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.05);
        @include font('NunitoSans-M', 14px, $VeryDarkBlueLM);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        margin-top: 5px;
        z-index: 2;

        .regions {
          position: unset;
          padding: 4px 22px;
          box-shadow: unset;
          width: auto;
          height: fit-content;
          margin: unset;
          border-radius: unset;
          @include font('NunitoSans-M', 14px, $VeryDarkBlueLM);
        }

        .regions:first-child {
          padding-top: 15px;
        }

        .regions:last-child {
          padding-bottom: 15px;
        }

        .regions:hover {
          background-color: $DarkGray;
        }
      }
    }

  }

  .countries {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
    column-gap: 90px;

    .country_card {
      height: 350px;
      background-color: $White;
      box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      text-decoration: none;
      color: $VeryDarkBlueLM;
      transition: .2s ease;

      img {
        width: 100%;
        height: 175px;
        border-radius: 8px 8px 0 0;
      }

      .main_info {
        padding: 20px;

        h3 {
          width: fit-content;
        }
      }

    }

    .country_card:hover {
      transform: rotate(-10deg);
    }

    .hide {
      display: none;
    }
  }

}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;

  .loader {
    border: 4px solid transparent;
    border-top: 4px solid $DarkGray;
    border-left: 4px solid $DarkGray;
    border-right: 4px solid $DarkGray;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 4px solid transparent;
      border-bottom: 4px solid $DarkBlue;
      border-left: 4px solid $DarkBlue;
      border-right: 4px solid $DarkBlue;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 4px solid transparent;
        border-top: 4px solid $DarkGray;
        border-left: 4px solid $DarkGray;
        border-right: 4px solid $DarkGray;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.country_details {
  width: 100%;
  padding: 0 5%;
  padding-top: 70px;
  margin: 0 auto;
  background-color: $VeryLightGray;
  @include font('NunitoSans-M', 16px, $VeryDarkBlueLM);
  min-height: 100vh;


  .country_details_container {


    button {
      margin-top: 75px;
      padding: 6px 30px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.07);
      background-color: $White;
      cursor: pointer;
      @include font('NunitoSans-L', 14px, $VeryDarkBlueLM);

      svg {
        fill: $VeryDarkBlueLM;
        width: 17px;
        height: 17px;
        margin-right: 8px;
      }

    }

    .country_main {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // gap: 100px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-top: 80px;

      .country_flag {

        width: 750px;

        img {
          width: 100%;
        }
      }

      .country_info {
        width: 750px;
        margin-left: 20px;

        h1 {
          font-family: 'NunitoSans-B';
        }

        &_2 {
          margin-top: 50px;
          display: flex;
          justify-content: space-between;

          p {
            font-family: 'NunitoSans-M';
            line-height: 30px;

            span {
              font-family: 'NunitoSans-L';
            }
          }

          .country_info_2_right {
            max-width: 65%;
          }
        }

        .border_countries {
          margin-top: 80px;

          a {
            display: inline-flex;
            justify-content: center;
            width: fit-content;
            min-width: 80px;
            padding: 6px 10px;
            margin-right: 10px;
            margin-top: 10px;
            border-radius: 5px;
            box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.07);
            background-color: $White;
            cursor: pointer;
            text-decoration: none;
            @include font('NunitoSans-L', 14px, $VeryDarkBlueLM);
          }

          a:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.dark_mode {
  .bar {
    background-color: $DarkBlue;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.05);

    h2 {
      font-family: 'NunitoSans-B';
      color: $White;
    }

    .colormode {
      @include font('NunitoSans-M', 16px, $White);
    }
  }

  .content {
    background-color: $VeryDarkBlue;

    .countries {
      .country_card {
        background-color: $DarkBlue;
        color: $White;
      }
    }

    .content_inputs {
      svg {
        fill: $White;
      }

      input {
        background-color: $DarkBlue;
        color: $White;
      }

      input::placeholder {
        color: $White;
      }

      .letter_search {

        span {
          color: $White;
        }
      }

      .dropdown {

        .title,
        .drop_menu {
          background-color: $DarkBlue;
          color: $White;

          svg {
            fill: $White;
          }

          .regions {
            color: $White;
          }
        }
      }
    }

  }

  .country_details {
    background-color: $VeryDarkBlue;
    color: $White;

    .country_details_container {
      button {
        background-color: $DarkBlue;
        color: $White;

        svg {
          fill: $White;
        }
      }

      .country_main {
        .country_info {
          .border_countries {
            a {
              background-color: $DarkBlue;
              color: $White;
            }
          }
        }
      }
    }
  }

}



@media(max-width:1650px) {
  .content {
    .countries {
      row-gap: 10px;
      column-gap: 40px;
    }
  }
}

@media(max-width:1440px) {
  .content {
    .countries {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 60px;
      column-gap: 60px;
    }
  }
}